<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Customers" href="#">Customers<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Orders" href="#">Orders</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/Analysis" href="#">Analysis</a>
        </li>
    
    </ul>
    
  
        <span class="navbar-text">
           
            
            <a class="nav-link" routerLink="/Login" href="#"><mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon></a> 
          </span>
    
    
    
  </div>
</nav>